<div class="mr-5 ml-auto">
   <div class="search mb-5 mt-3">
       <form action="/search" method="POST">
                 <input  style="height: 2em;" type="text" class="searchTerm" name="content" placeholder="Search name or location">
      <button type="submit" class="searchButton">
        search
     </button>

       </form>
   </div>
  
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">location</th>
    </tr>
  </thead>
  {{#each users}}
  <tbody>
    <tr>
      <th scope="row">•</th>
      <td>{{this.name}}</td>
      <td>{{this.location}}</td>
    </tr>
   {{/each}}
  </tbody>
</table>
    

</div>